 *, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body, html{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.head{
    height: 30px;
    background-color: rgba(0, 0, 0, 0.732);
    top: 0;
    width: full;
}
.spacing{
    height: 10px;
}
#hero{
    background-color: rgb(32, 32, 32);
    padding: 10px;
}
.title{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 100px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.title h1{
    font-size: 35px;
}
.btn-contact{
    cursor: pointer;
    min-width: 100px;
    background-color: rgb(70, 69, 69);
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    padding: 15px 10px;
}
.btn-contact:hover{
    background-color: rgba(54, 52, 52, 0.389);
    transition: all 0.3s;
}
h1{
    margin-bottom: 15px;
}
#about{
    padding: 10px 0;
    border-top: 1px solid #fff;
    background-color: rgb(32, 32, 32);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-t{
    width: 85%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.photo{
    grid-column: span 1;
}
.text{
    grid-column: span 3;
    max-width: 500px;
    line-height: 2rem;
}
.img{
    text-align: center;
}
.img img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.resume{
    /* padding: 25px 0; */
    margin: 10px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(163, 159, 159);
    overflow: hidden;
}
.resume-t{
    padding: 20px 0;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    overflow: hidden;

}
.resume-t-1{
    grid-column: span 1;
}
.resume-t-1 p{
    display: inline-block ;
    border-bottom: 3px solid rgb(226, 104, 11);
    font-size: 20px;
    margin: 0;
}
.resume-t-2{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.resume-t-2 h2{
    margin: 0;
}
.resume-t-2 .labo{
     display: flex;
    flex-direction: column; 
    gap: 6px;
}
.labo1 > div{
    margin-bottom: 14px;
}
.btn-frontend, .btn-design{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.btn-frontend button, .btn-design button{
    cursor: pointer ;
    padding: 10px 19px;
    border: none;
    background-color: rgba(188, 181, 181, 0.866);
    border-radius: 7px;
    transition: all 0.3s ease;
}
.btn-frontend button:hover, .btn-design button:hover{
    background-color: rgba(188, 181, 181, 0.677);
}
.bryan{
    display: flex;
    gap: 3px;
}
.bryan p{
    display: inline-block;
}
.skills{
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 25px;
}
.design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact{
    /* border: 1px solid rgb(192, 187, 187);
    border-radius: 10px; */
    padding: 20px;
    grid-column: span 2;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
form input{
    padding: 10px 2px;
    border-radius: 6px;
    border: 1px solid rgb(192, 187, 187);
}
form textarea{
    border-radius: 5px;
    border: 1px solid rgb(192, 187, 187);
}
input:focus, textarea:focus{
    border: 1px solid rgb(226, 104, 11);
    outline: none;
}
form button{
    cursor: pointer ;
    padding: 10px 19px;
    border: none;
    background-color: rgb(226, 104, 11);
    border-radius: 7px;
    transition: all 0.3s ease;
}